<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rapidui.test.basictest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rapidui.test.basictest.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rapidui.test.basictest.bindservice.BindServiceTestActivity"
            android:label="@string/bind_service_test"
            android:screenOrientation="portrait" />
        <activity
            android:name="rapidui.test.basictest.instancestate.InstanceStateTestActivity"
            android:label="@string/instance_state_test" />
        <activity
            android:name="rapidui.test.basictest.receiver.ReceiverTestActivity"
            android:label="@string/receiver_test"
            android:screenOrientation="portrait" />

        <service android:name="rapidui.test.basictest.bindservice.TestService"
            android:exported="false" />

        <activity
            android:name="rapidui.test.basictest.globallayout.GlobalLayoutTestActivity"
            android:label="@string/title_activity_global_layout_test"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="rapidui.test.basictest.font.FontTestActivity"
            android:label="@string/font_test_activity"
            android:screenOrientation="portrait" />
        
    </application>

</manifest>
